.table {
  width: 100%;
  text-align: center;
  padding: 20px;
  border: 1px solid blue;
}
.tr {
  padding: 10px;
  border: 1px solid blue;
  text-align: center;
}
.container {
  height: 80vh;
  background-color: #000;
  padding: 50px 100px;
}
.vennContainer {
  border-radius: 20px !important;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 70px 0px;
  }
}
